<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <link rel="stylesheet" href='./stylesheets/style.css'>
    <title>budget</title>
  </head>
  <body>
  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="">budget title</span>
    <!-- <input type='number' name='budget' id='budget' placeholder=" your budget"> -->
  </div>
  <input type='text' name='title1' id='title1' placeholder=" Title" required>
  <input type='number' name='price' id='price1' class='price' placeholder=" Price" required>
  <label>
    <!-- <input type='checkbox' id='checkbox1' onclick='add()'> -->
    <!-- add -->
  </label>
  <span id='error'>
  </div>
  <div class="input-group">
  <div class="input-group-prepend">
    <!-- <input> -->
    <span class="input-group-text" id="">budget title</span>
  </div>
  <input type='text' name='title2' id='title2' placeholder=" Title" required>
  <input type='number' name='price' id='price2' class='price' placeholder=" Price" required>
  <label>
    <button id='save'>save</button>
    <button id='showAll'>showAll</button>
    <input type="text" id="id" value="">
    <span id='data'></span>
    <button id='delete'>delete</button>
    <span id='result'></span>
    <!-- <input type='checkbox' id='checkbox2' onclick='add()'> -->
    <!-- add -->
    <input type='number' name='tBudget' id='totalbudget' placeholder="total price" disabled>
  </label>
  </div>
</body>
</html>
<script src='./libs/jquery-3.2.1.min.js'></script>
<script src='./features/deleteOneNote.js'></script>
<script src='./features/DisplayAllNotes.js'></script>
<script src='./features/saveOneNote.js'></script>
<script src='./AppCode/budgetCalculator.js'></script>
<script defer type='text/javascript'>

</script>
<script>
  $('.price').keyup(function () {

    var price = document.getElementsByName('price').value;
    var sum = 0;
    $('.price').each(function() {
      sum += Number($(this).val());
    });

    $('#totalbudget').val(sum);
  });
</script>
