*{
  font-size:20px;
}

body{
  background-color:#FAFAFA !important;
}

/* overwrite container styles */
@media (min-width: 1200px) {
    .container {
      max-width: 1600px !important;
    }
}


.loginForm
 {
    width:450px;
    height:415px;
    margin-top:3% !important;
    margin:auto;
    padding:15px;
    text-align:center;
    border:2px solid #007bff;
}

.authenticated{
    display:none;
    text-align:center;
}
.unauthenticated{
    display:none;
    text-align:center;
}

input['"name":"firstname"']{
    margin-right:10px !important;
}

input {
    text-align:center;
}

/*  START LOGIN FORM */
.login-btn{
    width: 100%;
    font-size: 20px !important;
    margin-top:1%;
    margin-bottom: 4%;
}

.form-check{
    padding-left:0px !important;
}
.login-link,
.signup-link{
    font-size: 15px;
    float:left;
}

.invalid{
    border:1px solid red;
}
/*  END LOGIN FORM */


/* START SIGN UP FORM */

.signupForm{
    width:550px;
    margin-top:3% !important;
    margin:auto;
    padding:15px;
    text-align:center;
    border:2px solid #28a745;
    /* border-radius:12px; */
}

.signup-btn{
    width: 100%;
    height: 40px;
    font-size: 20px !important;
    padding-top: 1% !important;
    margin-top:3%;
    margin-bottom:2%;
}

.register-error{
    display:none;
    text-align:center;
}
/* END SIGN UP FORM */


/* alert */

.alert-success {
    text-align:center;
    display:none;
    transition: opacity 2s ease-in-out;
}

.alert-danger {
    text-align:center;
    /* height:10%; */
}

/* alert */