*{
    font-family: 'Cairo', serif;
}
img {
    height:40px;
    width:40px;
    margin-right:10px;
    /* line-height: 1.22; */
    float:left;
    vertical-align:bottom;
}

.username{
    color:black;
    text-align: right;
    line-height: 1.22;
    float:right;
    margin-top:10px;
    vertical-align:bottom;
}
.navbar-collapse{
    background-color:#FFF;
}

.logout-btn{
    width: 100px;
    height: 40px;
    text-transform: uppercase;
    margin-right: 1%;
}


.navbar-collapse{
    border-bottom: 1px solid #E1E1E1;
    padding-top:5px;
    padding-bottom: 5px;
}

.github-link,
.github-link:hover{
    margin-right: 30px;
    font-size: 1.3em;
    color:black;
    text-align: right;
    line-height: 1.22;
    float:right;
    vertical-align:bottom;
}

.fa-github{
    font-size: 1.1em;
    margin-right:10px;
    /* line-height: 1.22; */
    float:left;
    vertical-align:bottom;
}

.settings,
.about{
    margin-right:10px;
}

.Navbarsignup{
    border-bottom:2px solid #28A745;
}
.Navbarlogin{
    border-bottom:2px solid #0069D9;
}
.NavbarApp{
    border-bottom:2px solid #E0A800;
}