.myNotesList {
    margin-bottom: 10px;
    border: 2px solid red;
    display:inline-block;
    text-align:left;
    margin-top:5%;
}
.items,
.prices{
    /* text-align:center; */
    padding-bottom:10px;
}
.title,
.totalprice{
    text-align:center !important;
    padding-top:10px;
    font-weight:bold;
}

.is-active {
    font-weight: bold;
    color: red !important;
}
li{
    text-align:center;
    color:blue;
    font-size:20px;
}
.ui.success.message{
    display:none;
}
.successMesg{
    text-align:center;
}
.ui.negative.message{
    display:none;
}
.errorMesg{
    text-align:center;
}

.is-active {
    font-weight: bold;
    color: red !important;
}

