body{
  font-family: 'Lato', sans-serif;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: center;
  align-items: center;
  /* background-color: #CC9933; */
  /* overflow:hidden; */
  /* background-image:url(".././images/blurred-background-7.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
}
.formdiv{
  width: 600px !important;
  height: 650px;
  background:#FFFFFF !important;
  margin-bottom:10%;
  border-radius:3%;
  transform: translateX(10%);
  border-radius: 3% !important;
  box-shadow: -5px 30px 50px black !important;
}
h4{
  margin-left:15% !important;
}
/* body structure  */
.form,
.input,
#showAll
{
  margin-left:15% !important;
  margin-top:2%;
}
#ftitle,
#stitle,
#fname,
#sname,
#DisplayNotes,
#deleteOneNote{
  display:none;
}
/* alerts */
.label1 {
  color:black;
  font-size:20px;
  margin-top:1%;
  margin-left:20%;
  margin-bottom:1%;
  display:inline-block;
  transition: 0.2s ease all;
}
.label2 {
  color:black;
  font-size:20px;
  margin-top:1%;
  margin-left:15%;
  margin-bottom:1%;
  display:inline-block;
  transition: 0.2s ease all;
}
input[type='number']{
  margin-top:8% !important;
}

  /* ALL INPUTS */
input[name='firstItem'],
input[name='secondItem'],
input[name='thirdItem'],
.price,
textarea {
  border: 1.5px solid rgba(34,36,38,.15) !important;
  padding: 3px 0px 3px 3px;
  margin-top: 8% !important;
}

 /* items input */
input[name='firstItem']:focus,
input[name='secondItem']:focus,
input[name='thirdItem']:focus,
.price:focus,
textarea:focus {
  border-color:#85b7d9 !important;
}
 /* items focus */
input[name='firstItem']:hover,
input[name='secondItem']:hover,
input[name='thirdItem']:hover,
.price:hover,
{
  border-color:#c8e4f7 !important;
  transition:0.3s;
}

input[name='tBudget'],
input[name='tBudget']{
  cursor: not-allowed;
  text-align: center;
  width:100%;
  font-size: 20px !important;
  color: green !important;
  /* border: 1px solid #f76767 !important; */
}
input[name='tBudget']::placeholder{
  color:black !important;
  text-transform: uppercase;
  font-size: 15px;
}

.ui{
  margin-left:69px;
  width:69%;
  margin-bottom:2%;
}
#searchbyid:hover{
  border:1.4px solid #85b7d9;

}
#searchbyid:focus{
  border:1.7px solid #85b7d9;
}
#deleteById:hover,
#deleteById:focus
{
  box-shadow: rgb(211, 12, 45) 0 0px 0px 0.6px inset;
}
#deleteById:focus{
  border: 0.5px solid #f95e5e;
}
::placeholder
{
	color: #c9c5c5 !important;
  text-align: center;
}

#id{
  background-color:transparent;
  margin-top:1%;
  width:100% !important;

}
#id::placeholder{
  color: black !important;
  border:none;
  display:inline-block;
  text-align: center;
  margin-top:3%;
}
/* input fields */
#save-btn{
  width:100%;
  margin-top:5px;
  text-transform: uppercase;
  font-size:15px;
}
span{
  margin-right:18%;
}
#reset-form{
  width:15%;
  margin-bottom:5px;
  padding:8px;
  text-transform: uppercase;
}
#save-btn:hover{
  color: white !important;
  box-shadow: #22a541 0 80px 0px 1px inset !important;
}
#ShowByID:hover{
  color: white !important;
  box-shadow: #4484CE 0 80px 0px 1px inset !important;
}
#delete:hover{
  color:white;
  box-shadow: rgb(211, 12, 45) 0 80px 0px 2px inset;
}
#delete:focus{
  box-shadow: rgb(211, 12, 45) 0 80px 0px 2px inset;
}
#ShowByID
{
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  box-shadow:#4484CE  0 0px 0px 1.2px inset;
}
#delete
{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  color:black;
  box-shadow: rgb(211, 12, 45)  0 0px 0px 1.2px inset;
}
#showAll
{
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  box-shadow:#4484CE  0 0px 0px 2px inset;
  text-transform: uppercase;
}

/* #add{
  -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
  color:black;
  background-color: transparent;
  box-shadow:#4484CE  0 0px 0px 2px inset;
  border:none;
  display: block;
  max-width: 40%;
  width:28.5%;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px;
  padding: 2px 19px;
  cursor:pointer;
  margin-left:13%;
  margin-top:-5%;
  text-transform: uppercase;

} */
